%li
  = form_for player, url: '#' do |f|
    = f.label :country
    = f.text_field :country
    = f.label :age
    = f.text_field :age
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :market_value
    = f.text_field :market_value
