= form_for transfer, target: :_top do |f|
  = f.label :seller
  = f.text_field :seller, readonly: true, value: user_id
  = f.label :player
  = f.collection_select :player, players , :id, :brief_info
  = f.label :price
  = f.number_field :price
  = f.submit 'Add A New Transfer'
