!!!
- content_for :admin_dashboard do
  = link_to 'Admin Portal', rails_admin_path
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    %title Soccer Game
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .notice= flash[:notice]
    .alert= flash[:alert]
    = yield
